/*
#FFDAB3
#C8AAAA
#9F8383
#574964
*/

* {
  color: #574964;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #574964;
  background-image: url("background.jpeg");
  background-size: 100% 100%;
  min-height: 100vh;
  margin: auto;
  width: 85%;
}

.plate {
  display: block;
  margin: auto;
  border:1px;
  border-color: #C8AAAA;
  background-color: #c8aaaaa0;
  border-style:hidden;
  border-radius: 2em;
  padding: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 85%;
  justify-content: space-evenly;
  box-shadow: #C8AAAA;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
  transition: transform 0.2s, box-shadow 0.5s;
}

#divider {
  border-bottom: 1px solid #9f8383cb;
}

#logo {
  width: 300px;
  height: auto;
  margin-right: 10%;
}

#mainSearch {
  margin:auto;
  margin-right: 12%;
  top: 0;
  font-size: small;
  height: 30px;
  width: 300px;
  background-color: transparent;
  border-color: #574964;
}

#mainSearch:hover {
  background-color: #ffdab384;
}

#navigation {
  margin: auto;
  flex-wrap: nowrap;
  font-size: smaller;
  color: #574964;
  margin-right: 2.336%;
  transition: .3s;
  overflow: hidden;
  text-decoration: none;
}

#navigation:hover {
  color: #FFDAB3;
}

body h5 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #574964;
}

.modules {
  background-color: #9f83836d;
  border-radius: 2em;
  display: flex;
  flex-flow: column wrap;
  padding: 1%;
  align-items:left;
  width: 25%;
  gap: 0px;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

.box {
  width: 90%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #9F8383;
  margin: 4px;
  padding: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.box a {
  color: #574964;
  text-decoration: none;
}

.box :hover {
  color: #FFDAB3;
}

.right {
  background-color: #9f83836d;
  border-radius: 2em;
  display: inline-flex;
  flex-flow: column wrap;
  padding: 1%;
  align-items:left;
  width: 25%;
  gap: 0px;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  transition: transform 0.2s, box-shadow 0.2s;
}

#footer {
  margin-top: 10px;
  text-align: center;
  margin: auto;
  color: #574964;
  position:flex;
}