* {
  color: #131842;
  display: flexbox;
}

body {
  background-color: #FBF6E2;
  font-family: Monaco;
}

#searchBar {
  background-color: #E68369;
  display: flex;
  justify-content: end;
  
}

#mainSearch {
  display: flex;
  justify-content: right;
  font-size: small;
  width: auto;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 60px;
  margin-left: 60px;
}

#logo {
  width: 200px;
  height: 200px;
  margin-left: 60px;
  margin-right: 60px;
}

.naviBar {
  background-color: #ECCEAE;
  position:sticky;
}

.nav-bar {
  content: " ";
  display: inline;
  word-spacing:30px;
  margin-left: auto;
  margin-right: 60px;
}

#home, #contact, #about {
  color: #131842;
}

#home:hover, #contact:hover, #about:hover {
  color: #FBF6E2;
}

#logIn {
  background-color: #E68369;
  color: #131842;
  width: auto;
  height: auto;
  top: auto;
  right: 20px;
  top: 65px;
  position:absolute;
  margin-left: 60px;
  margin-right: 60px;
}

#logIn:hover {
  background-color: #131842;
  color: #FBF6E2;
}

.sec {
  margin-left: 60px;
  margin-right: 60px;
}

#mod {
  color: #E68369;
  background-color: #ECCEAE;
  border-radius: 2px;
}

main {

  margin-left: 100px;
  margin-right: 100px;
}

footer {
  background-color: #ECCEAE;
}

.foot {
  margin-left: 60px;
  margin-right: 60px;
}
