/* body and nav-bar styling */
body {
  background-color: #ffcf9d;
  padding-top: 30px;
  font-family: Monaco;
}
h1 {
  margin: 5px;
  padding-top: 10px;
  padding-left: 10px;
}
.nav-bar {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  height: 70px;
  background-color: #a89c29;
}
.nav-bar > li {
  display: inline;
  justify-content: center;
}

li a {
  display: inline;
  color: white;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 15px;
  text-decoration: none;
  font-family: Monaco;
}
li a:hover {
  color: #111;
}
.sec {
  color: brown;
  padding: 6px;
  font-size: 24px;
  font-family: Monaco;
  width: 30%;
  border-bottom: 4px solid #c14600;
}
#search {
  float: right;
  padding: 6px;
  border: none;
  background-color: wheat;
  margin-top: 8px;
  margin-right: 16px;
  width: 15%;
  height: 40px;
  color: #333;
}

.container {
  background-color: #ff9d23;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-section,
.upload-section {
  background-color: #a89c29;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #a89c29;
  margin: 30px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
span {
  color: #754e1a;
  font-weight: bold;
}
.sec {
  color: darkslateblue;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: wheat;
  color: #111;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#search-results,
#upload-status {
  margin-top: 15px;
  text-align: center;
  color: #666;
}
#notes-file {
  background-color: wheat;
}
main {
  padding-bottom: 10px;
}
/* footer styling */
footer {
  width: 100%;
  background-color: #f0a04b;
  text-align: left;
  padding: 10px;
  color: #333;
}
