/*
#FFDAB3
#C8AAAA
#9F8383
#574964
*/

* {
  color: #574964;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  color: #574964;
  background-image: url("../background.jpeg");
  background-size: 100% 100%;
  min-height: 100vh;
  margin: auto;
  width: 85%;
}

.plate {
  display: block;
  margin: auto;
  border:1px;
  border-color: #C8AAAA;
  background-color: #c8aaaaa0;
  border-style:hidden;
  border-radius: 2em;
  padding: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 85%;
  justify-content: space-evenly;
  box-shadow: #C8AAAA;
  box-shadow: 0 2px 4px #00000080;
  transition: transform 0.2s, box-shadow 0.5s;
}

.naviBar {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  width: 300px;
  height: auto;
  
}

#mainSearch {
  width: 35%;
  height: 2em;
  background-color: transparent;
  border-color: #574964;
  font-size: x-small;
}

#navigation {
  font-size: smaller;
  color: #574964;
  text-decoration: none;

}

#mainSearch:hover {
  background-color: #ffdab384;
  animation-timing-function: linear;
}

#navigation:hover {
  color: #FFDAB3;
  animation-timing-function: linear;
}

.sec {
  color: #574964;
}

#divider {
  border-bottom: 1px solid #9f8383cb;
}

.option #filters-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filters-form #searchInput, #filters-form #filterSelect, #filters-form #sortSelect, #filters-form #newbtn{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-color: #574964;
  background-color: transparent;
  border-radius: 2em;
  font-size: medium;
  height: 3.5em;
  align-items: center;
  margin-bottom: 2%;
}

#searchInput {
  width: 78%;
}

#filterSelect, #sortSelect {
  width: 7.8%;
}

#newbtn {
  width: 5%;
}


#filters-form #searchInput:hover, #filters-form #filterSelect:hover, #filters-form #sortSelect:hover {
  border-color: #574964;
  background-color: #ffdab384;
}

#filters-form #newbtn {
  background-color: #574964;
  box-shadow: 0 2px 4px #00000080;
  transition: transform 0.2s, box-shadow 0.2s;
}

#filters-form #newbtn:hover {
  background-color: #FFDAB3;
  color: #574964;
  border-color: #FFDAB3;
  transform: scale(1.05);
  animation-timing-function: linear;
}


.group-list.grid article {
  display:grid;
  padding: 1.5em;
  margin-bottom: 6.5%;
  background-color: #9f83836d;
  transition: transform 0.2s;
  border-radius: 2em;
  box-shadow: 0 2px 4px #00000080;
  transition: transform 0.2s, box-shadow 0.2s;
}

.group-list.grid article:hover {
  background-color: #ffdab384;
  transform: scale(1.05);
  animation-timing-function: linear;
}

.group-list.grid article p, .group-list.grid article h3 {
  color: #574964;
}

.group-list.grid article .viewBtn {
  margin: auto;
  border-color: transparent;
  background-color: #9F8383;
  width: auto;
  transition: transform 0.2s;
  border-radius: 2em;
  box-shadow: 0 2px 4px #00000080;
  transition: transform 0.2s, box-shadow 0.2s;
}

.group-list.grid article .viewBtn:hover {
  background-color: #574964;
  transform: scale(1.05);
  animation-timing-function: linear;
}

#footer {
  margin-top: 10px;
  text-align: center;
  margin: auto;
  color: #574964;
  position:flex;
}